name: Test Trigger

on:
  push:
    branches:
      - 'test-trigger-*'
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Test
        run: echo "Workflow triggered successfully"
